.foco {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icon/foco.svg');
}
.bombillap h2 {
    padding: 0 26px;
}
section#whyus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reasongroup {
    width: 90%;
}
